__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.log
*.sqlite3
*.db
*.DS_Store
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
.nox/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json
.pyre/

# Do not ignore .local so it is included in the Docker build context
.local/
.pgdata/
