version: "3.8"
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - .pgdata:/var/lib/postgresql/data

  elwis-server:
    image: vgerber/elwis-server:latest
    depends_on:
      - db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    ports:
      - "8000:8000"
    secrets:
      - admin_user
      - admin_password

secrets:
  admin_user:
    file: ./secrets/admin_user
  admin_password:
    file: ./secrets/admin_password
